# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs/
Solution/Project/[Dd]ebug/
Solution/Project/[Dd]ebugPublic/
Solution/Project/[Rr]elease/
Solution/Project/[Rr]eleases/
Solution/Project/x64/
Solution/Project/x86/
Solution/Project/[Bb]in/
Solution/Project/[Oo]bj/
Solution/Project/[Ll]og/
Solution/Project/[Ll]ogs/

